@model Category
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="">
        
        <div class="border" p-3 mt-4>
            <div class="row pb-2">
                <h3>ایجاد دسته جدید</h3>
            </div>            
        </div>
        <label asp-for="Name"></label>
        <input type="type" name="Name" value="" />
        <label asp-for="DisplayOrder"></label>
        <input type="type" name="DisplayOrder" value="" />
    </div>
</form>

