@model Category
@{
    ViewData["Title"] = "Create";
}

<form class="border p-3 mt-2">
    <div class="">
        <h3>دسته جدید</h3>
        <div class="row"></div>
        <label asp-for="Name"></label>
        <input type="type" name="Name" value="" />
        <label asp-for="DisplayOrder"></label>
        <input type="type" name="DisplayOrder" value="" />
    </div>
</form>

